* {
	box-sizing: border-box;
	font-family: "Microsoft YaHei", "Arial" !important;
}
html {
	height: 100%;
}
body, ul, p {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	color: #333;
}
ul > li {
	list-style: none;
}
input[type=button] {
	border: none;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both
}

.talent-dialog-commonTipsBox {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 9999;
}
.talent-dialog-commonTips {
	padding: 10px 50px 10px 20px;
	border-radius: 3px;
	font-size: 14px;
	i {
		vertical-align: -1px;
    margin-right: 10px;
	}
	&.normal {
		background-color: #ebfff4;
		border: 1px solid #17b55b;
		box-shadow: 1px 1px 5px #beead1,
								-1px -1px 5px #beead1;
		color: #17b55b;
	}
	&.error {
		color: #ff0000;
		background-color: #ffe7e0;
		border: 1px solid #fd4d17;
		box-shadow: 1px 1px 5px #ffb8b8,
								-1px -1px 5px #ffb8b8;
	}
}

.customDialog {
	z-index: 80 !important;
}
.customDialog > .modal-dialog {
	height: 340px;
	.alert-content {
		text-align: center;
		margin-top: 50px;
		.alert-img {
			display: inline-block;
			vertical-align: -10px;
			margin-right: 20px;
			.alertIcon {
				background-image: url('~img/alertIcon.png');
				display: inline-block;
				width: 73px;
				height: 70px;
			}
		}
		.alert-text {
			display: inline-block;
			text-align: left;
			.alert-text-title {
				font-size: 18px;
				margin-bottom: 10px;
			}
			.alert-text-sub {
				color: #999;
			}
		}
	}
}